[MASTER]
ignore=CVS, .svn, .git

[MESSAGES CONTROL]
disable=duplicate-code,import-outside-toplevel,missing-final-newline,missing-module-docstring,cyclic-import,not-callable

[TYPECHECK]
generated-members=numpy.*, torch.*