{%-
set external_urls = {
  'github': 'https://github.com/torchexpo/torchexpo',
  'github_issues': 'https://github.com/torchexpo/torchexpo/issues',
  'contributing': 'https://github.com/torchexpo/torchexpo/blob/master/CONTRIBUTING.md',
  'docs': 'https://torchexpo.readthedocs.io/docs',
  'previous_pytorch_versions': 'https://torchexpo.readthedocs.io/previous-versions/',
  'home': 'https://torchexpo.readthedocs.io/',
  'get_started': 'https://torchexpo.readthedocs.io/docs',
  'features': 'https://torchexpo.readthedocs.io/docs/getting_started/features',
}
-%}
{%-
set og = {
  'description': 'Collection of models and extensions for mobile deployment in PyTorch'
}
-%}