{%-
set external_urls = {
  'github': 'https://github.com/torchexpo/torchexpo',
  'github_issues': 'https://github.com/torchexpo/torchexpo/issues',
  'contributing': 'https://github.com/torchexpo/torchexpo/blob/master/CONTRIBUTING.md',
  'docs': 'https://torchexpo.readthedocs.io',
  'home': 'https://torchexpo.readthedocs.io/',
  'get_started': 'https://torchexpo.readthedocs.io/',
  'features': 'https://torchexpo.readthedocs.io/',
}
-%}
{%-
set og = {
  'description': 'Collection of models and extensions for mobile deployment in PyTorch'
}
-%}